@{
    ViewBag.Title = "About";
}
@section styles{
    <link href="~/Content/about.css" rel="stylesheet" type="text/css" />
}
<div class="service-two" style="margin-bottom: 100px;">
    <div class="container">
        <div class="section-title" style="padding: 100px 0;">
            <h2>What We Offer For You</h2>
            <p class="text">
                Consectetur adipisicing elit. Nihil, illum voluptate eveniet ex fugit ea delectus, sed voluptatem. Laborum accusantium libero commodi id officiis itaque esse adipisci, necessitatibus asperiores, illo odio.
            </p>
            <a href="#" class="btnSer" style="text-decoration: none;">Services</a>
        </div>
        <div class="section-ser" style="margin-bottom: 100px;">
            <div class="col-6 col-lg-3">
                <div class="box-icon">
                    <img src="https://kinsley.webhotel.vn/images/f-1.svg" alt="">
                    <h5>Airport transfer</h5>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="box-icon">
                    <img src="https://kinsley.webhotel.vn/images/f-2.svg" alt="">
                    <h5>All inclusive</h5>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="box-icon">
                    <img src="https://kinsley.webhotel.vn/images/f-3.svg" alt="">
                    <h5>Air-conditioned</h5>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="box-icon">
                    <img src="https://kinsley.webhotel.vn/images/f-4.svg" alt="">
                    <h5>Under protection</h5>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="box-icon">
                    <img src="https://kinsley.webhotel.vn/images/f-5.svg" alt="">
                    <h5>Private pools</h5>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="box-icon">
                    <img src="https://kinsley.webhotel.vn/images/f-6.svg" alt="">
                    <h5>Free wi-fi</h5>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="box-icon">
                    <img src="https://kinsley.webhotel.vn/images/f-7.svg" alt="">
                    <h5>Smart TV</h5>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="box-icon">
                    <img src="https://kinsley.webhotel.vn/images/f-8.svg" alt="">
                    <h5>Laundry</h5>
                </div>
            </div>
        </div>
        <div class="img-about" style="padding-bottom: 100px;">
            <div class="about-card">
                <div class="about-cont">
                    <div class="col-lg-6">
                        <div class="about-text">
                            <h2>
                                Spa
                            </h2>
                            <p>
                                Coming to Furama Reѕort, you will be immersed in fresh nature, participate in entertainment activities, relax and rest to get rid of all the troubles and chaos of life, sublimate emotions, most amazing experience. Come to us, we guarantee that you will not regret.
                                With a resort space imbued with nature, delicately blended with standard furniture and perfect service, this place promises to be an ideal destination for visitors to relax and arouse all senses.
                            </p>
                            <a href="/Home/Contact" style="text-decoration: none;">Contact</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="img-frame">
                            <img src="https://califoniahotel.webhotel.vn/files/images/Service/Spa/spa-o-tan-an.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
