@{
    ViewBag.Title = "Contact";
}
@section styles{
    <link href="~/Content/contact.css" rel="stylesheet" type="text/css" />
}

<div class="banner-simple" style="margin-bottom: 100px;">
    <img src="https://kinsley.webhotel.vn/images/palm.svg" alt="" class="deco-left">
    <img src="https://kinsley.webhotel.vn/images/palm.svg" alt="" class="deco-right">
</div>
<div class="container">
    <div class="section-title">
        <h1>Get in Touch</h1>
        <p class="text">
            We are one of the best agency and we can easily make a contract us anytime on the below details.
        </p>
        <ul class="bread">
            <li class="home">
                <a href="#">Home</a>
            </li>
            <li class="lst">
                <a href="#">Contact</a>
            </li>
        </ul>
    </div>
</div>
<div class="feature" style="padding-bottom: 100px;">
    <div class="container">
        <div class="feature-main">
            <div class="feature-content">
                <div class="col-lg-4 inner">
                    <div class="inner-box">
                        <img src="https://kinsley.webhotel.vn/images/f-9.svg" alt="">
                        <h5>Welcome</h5>
                        <p>451 Lê Văn Việt, Tăng Nhơn Phú A, TP.Thủ Đức</p>
                    </div>
                </div>
                <div class="col-lg-4 inner">
                    <div class="inner-box">
                        <img src="https://kinsley.webhotel.vn/images/f-10.svg" alt="">
                        <h5>Contact</h5>
                        <p>0354855613</p>
                    </div>
                </div>
                <div class="col-lg-4 inner">
                    <div class="inner-box">
                        <img src="https://kinsley.webhotel.vn/images/f-11.svg" alt="">
                        <h5>Write</h5>
                        <p>anhtrankoc@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>