@{
    ViewBag.Title = "Home Page";
}
@section styles{
    <link href="~/Content/home.css" rel="stylesheet" type="text/css" />   
}
<div class="main">
    <div class="banner">
        <div class="banner-img">
            <img src="https://kinsley.webhotel.vn/images/img-banner-2-scaled.jpg" alt="">
        </div>
        <div class="banner-content">
            <div class="banner-title">
                <ul class="rate-star">
                    <li class="fa-solid fa-star" style="margin-right: 5%;"></li>
                    <li class="fa-solid fa-star" style="margin-right: 5%;"></li>
                    <li class="fa-solid fa-star" style="margin-right: 5%;"></li>
                    <li class="fa-solid fa-star" style="margin-right: 5%;"></li>
                    <li class="fa-solid fa-star" style="margin-right: 25%;"></li>
                </ul>
                <h1>Welcome to Thousand Stars Hotel</h1>
                <p>Recharge your energy with a well-deserved vacation!</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="feature" style="padding-bottom: 100px;">
            <div class="feature-main">
                <div class="feature-ser">
                    <div class="col-6 col-lg-3 inner">
                        <div class="inner-box">
                            <img src="https://kinsley.webhotel.vn/images/f-1.svg" alt="">
                            <h5>All inclusive</h5>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3 inner">
                        <div class="inner-box">
                            <img src="https://kinsley.webhotel.vn/images/f-2.svg" alt="">
                            <h5>All inclusive</h5>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3 inner">
                        <div class="inner-box">
                            <img src="https://kinsley.webhotel.vn/images/f-3.svg" alt="">
                            <h5>All inclusive</h5>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3 inner">
                        <div class="inner-box">
                            <img src="https://kinsley.webhotel.vn/images/f-4.svg" alt="">
                            <h5>All inclusive</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="about" style="padding-bottom: 100px;">
            <div class="about-card">
                <div class="about-content">
                    <div class="col-lg-6 thumd">
                        <div class="image">
                            <img src="https://kinsley.webhotel.vn/images/about-t1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 desc">
                        <div class="about-text">
                            <h2>Thousand Star Hotel</h2>
                            <p>
                                Coming to Thousand Star Hotel, you will be immersed in fresh nature, participate in entertainment activities, relax and rest to get rid of all the troubles and chaos of life, sublimate emotions, most amazing experience. Come to us, we guarantee that you will not regret.
                                With a resort space imbued with nature, delicately blended with standard furniture and perfect service, this place promises to be an ideal destination for visitors to relax and arouse all senses.
                            </p>
                            <a href="/Home/About" class="btn">More about us</a>
                        </div>
                    </div>
                    <div class="col-lg-6 order-lg-2 thumd">
                        <div class="image">
                            <img src="https://kinsley.webhotel.vn/images/about-t2.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 desc">
                        <div class="about-text">
                            <h2>
                                Facilites
                            </h2>
                            <p>
                                We are always customer-centric and constantly strive to bring satisfaction to customers with professionalism, efficiency and dedication.
                            </p>
                            <a href="/Home/About" class="btn">More about us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>