@{
    ViewBag.Title = "Room";
}
@section styles{
    <link href="~/Content/room.css" rel="stylesheet" type="text/css" />
}

<div class="banner-simple" style="margin-bottom: 100px;">
    <img src="https://kinsley.webhotel.vn/images/palm.svg" alt="" class="deco-left">
    <img src="https://kinsley.webhotel.vn/images/palm.svg" alt="" class="deco-right">
</div>
<div class="container" style="margin-bottom: 100px;">
    <div class="section-title">
        <h1>Choose your Rooms</h1>
        <p class="text">
            Want to get away from the hustle and bustle of everyday life? Relax with a short stay, in a luxurious and sophisticated space right in the heart of the capital, we are your reasonable choice.
        </p>
        <ul class="bread">
            <li class="home">
                <a href="/Home">Home</a>
            </li>
            <li class="lst">
                <a href="/Home/Room">Rooms</a>
            </li>
        </ul>
    </div>
</div>
<div class="room-grid" style="padding-bottom: 100px;">
    <div class="container">
        <div class="filter-style">
            <div class="col-lg-4 col-md-6 room-item">
                <div class="inner">
                    <div class="image">
                        <img src="https://kinsley.webhotel.vn/images/room-1.jpg" alt="">
                    </div>
                    <ul class="meta">
                        <li class="meta-item">
                            <i class="fa-solid fa-bed"></i>
                            <span class="meta-title">Adult</span>
                            <span class="meta-title">1</span>
                        </li>
                        <li class="meta-item">
                            <i class="fa-regular fa-window-maximize"></i>
                            <span class="meta-title">Size</span>
                            <span class="meta-title">20</span>

                        </li>
                    </ul>
                    <h2 class="entry-title">
                        <a href="#">One People</a>
                    </h2>
                    <p class="text">
                        With unique architecture and high-class furniture, 1 Bedroom Luxury Villas offers customers a comfortable, elegant and extremely luxurious atmosphere. In a fully furnished 45m2 room with an extremely "luxurious" bathroom, 1 Bedroom Luxury Villas always aim for comfort, convenience and difference. The difference of 1 Bedroom Luxury Villas that few hotels and resorts have is the view overlooking a green forest. Every morning when you wake up, you will be able to breathe in the fresh air that the forest brings to your chest.
                    </p>
                    <p class="price">
                        <span class="price-value">400.000</span>
                        <span class="unit">VND</span>
                    </p>
                    <div class="book-btn">
                        <a href="/Home/Contact" class="btnContact">Contact</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 room-item">
                <div class="inner">
                    <div class="image">
                        <img src="https://kinsley.webhotel.vn/images/room-2.jpg" alt="">
                    </div>
                    <ul class="meta">
                        <li class="meta-item">
                            <i class="fa-solid fa-bed"></i>
                            <span class="meta-title">Adult</span>
                            <span class="meta-title">2</span>
                        </li>
                        <li class="meta-item">
                            <i class="fa-regular fa-window-maximize"></i>
                            <span class="meta-title">Size</span>
                            <span class="meta-title">35</span>

                        </li>
                    </ul>
                    <h2 class="entry-title">
                        <a href="#">Two People</a>
                    </h2>
                    <p class="text">
                        With a comfortable king size bed and spacious balcony, Luxury 2 Bedroom Villas are a great choice for relaxation. All 2 Bedroom Luxury Villas provide guests with a large balcony, tea table and chairs, the best for spending quality moments with family, taking splendid photos, enjoying breakfast and meals Afternoon tea in a beautiful setting. With an area of 86m2, Luxury 2 Bedroom Villas boasts a minibar, writing desk, balcony, private bathroom with separate shower and bathtub.
                    </p>
                    <p class="price">
                        <span class="price-value">600.000</span>
                        <span class="unit">VND</span>
                    </p>
                    <div class="book-btn">
                        <a href="/Home/Contact" class="btnContact">Contact</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 room-item">
                <div class="inner">
                    <div class="image">
                        <img src="https://kinsley.webhotel.vn/images/room-3.jpg" alt="">
                    </div>
                    <ul class="meta">
                        <li class="meta-item">
                            <i class="fa-solid fa-bed"></i>
                            <span class="meta-title">Adult</span>
                            <span class="meta-title">3</span>
                        </li>
                        <li class="meta-item">
                            <i class="fa-regular fa-window-maximize"></i>
                            <span class="meta-title">Size</span>
                            <span class="meta-title">45</span>

                        </li>
                    </ul>
                    <h2 class="entry-title">
                        <a href="#">Three People</a>
                    </h2>
                    <p class="text">
                        Deluxe City View room is arranged with a reasonable area of 30 m2 and is fully equipped with modern amenities such as LCD cable TV, air conditioning, separate bedroom with hot and cold shower and toiletries. modern. The room has large windows opening to charming views of Hanoi. Deluxe is your smart choice for budget travelers because of its convenience and reasonable price. Connecting rooms are also available for groups and families
                    </p>
                    <p class="price">
                        <span class="price-value">700.000</span>
                        <span class="unit">VND</span>
                    </p>
                    <div class="book-btn">
                        <a href="/Home/Contact" class="btnContact">Contact</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 room-item">
                <div class="inner">
                    <div class="image">
                        <img src="https://kinsley.webhotel.vn/images/room-4.jpg" alt="">
                    </div>
                    <ul class="meta">
                        <li class="meta-item">
                            <i class="fa-solid fa-bed"></i>
                            <span class="meta-title">Adult</span>
                            <span class="meta-title">4</span>
                        </li>
                        <li class="meta-item">
                            <i class="fa-regular fa-window-maximize"></i>
                            <span class="meta-title">Size</span>
                            <span class="meta-title">65</span>

                        </li>
                    </ul>
                    <h2 class="entry-title">
                        <a href="#">Four People</a>
                    </h2>
                    <p class="text">
                        With comfortable King-sized bed, and spacious balcony, Balcony Family Suite is an appalling choice for relaxing. All 10 Balcony Family Suite offer guests with the large balcony, tea table and chairs, best for spending quality moments with family, taking magnificent photos, enjoying breakfast and afternoon tea in the marvelous setting.
                    </p>
                    <p class="price">
                        <span class="price-value">1.000.000</span>
                        <span class="unit">VND</span>
                    </p>
                    <div class="book-btn">
                        <a href="/Home/Contact" class="btnContact">Contact</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 room-item">
                <div class="inner">
                    <div class="image">
                        <img src="https://kinsley.webhotel.vn/images/room-5.jpg" alt="">
                    </div>
                    <ul class="meta">
                        <li class="meta-item">
                            <i class="fa-solid fa-bed"></i>
                            <span class="meta-title">Adult</span>
                            <span class="meta-title">6</span>
                        </li>
                        <li class="meta-item">
                            <i class="fa-regular fa-window-maximize"></i>
                            <span class="meta-title">Size</span>
                            <span class="meta-title">90</span>

                        </li>
                    </ul>
                    <h2 class="entry-title">
                        <a href="#">Six People</a>
                    </h2>
                    <p class="text">
                        The rooms are spacious, cozy and wisely-arranged in 60 m2, with 3 pairs of connecting rooms. Bright tone of the rooms harmonies with bright colors and sophisticated curves of furniture. Junior Suite features all the amenities you would expect from cable TV, air-conditioner, bathroom with hot and cold shower and bathtub
                    </p>
                    <p class="price">
                        <span class="price-value">1.500.000</span>
                        <span class="unit">VND</span>
                    </p>
                    <div class="book-btn">
                        <a href="/Home/Contact" class="btnContact">Contact</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 room-item">
                <div class="inner">
                    <div class="image">
                        <img src="https://kinsley.webhotel.vn/images/room-6.jpg" alt="">
                    </div>
                    <ul class="meta">
                        <li class="meta-item">
                            <i class="fa-solid fa-bed"></i>
                            <span class="meta-title">Adult </span>
                            <span class="meta-title">8</span>
                        </li>
                        <li class="meta-item">
                            <i class="fa-regular fa-window-maximize"></i>
                            <span class="meta-title">Size</span>
                            <span class="meta-title">120</span>

                        </li>
                    </ul>
                    <h2 class="entry-title">
                        <a href="#">Eight People</a>
                    </h2>
                    <p class="text">
                        With a comfortable king-size bed and spacious balcony, the Balcony Family Suite is a great choice for relaxation. All 10 Balcony Family Suite offers guests a large balcony, tea table and chairs, best for spending quality moments with family, taking splendid photos, enjoying breakfast and afternoon tea in frame beautiful scene. This room is also equipped with Neoclassical furniture and accessories, the designs and interiors all follow the golden ratio, bringing harmony and elegance to the living space. With an area of 40m2, Balcony Family Suite has a minibar, writing desk, balcony, private bathroom with separate shower and bathtub.
                    </p>
                    <p class="price">
                        <span class="price-value">2.000.000</span>
                        <span class="unit">VND</span>
                    </p>
                    <div class="book-btn">
                        <a href="/Home/Contact" class="btnContact">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>