@{
    ViewBag.Title = "Employee Page";
}
@section styles{
    <link href="~/Content/styles/Employee.css" rel="stylesheet" type="text/css" />
}


@*thêm thông tin*@
<div class="w3-container">
    <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">Add Employee</button>

    <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom">
            <div class="w3-center">
                <i class="w3-circle w3-margin-top fa-solid fa-user-tie" style="color: #0026ff; font-size: 32px;"></i>
            </div>
            <form class="w3-container" action="/action_page.php">
                <div class="w3-section">

                    <label><b>Name</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Name" name="name" required>
                    <label><b>Phone</b></label>
                    <input class="w3-input w3-border" type="number" placeholder="Enter Phone" name="phone" required>
                    <label><b>Address</b></label>
                    <input class="w3-input w3-border" type="text" placeholder="Enter Address" name="address" required>
                </div>
            </form>

            <div class="w3-container w3-light-grey w3-padding">
                <button class="w3-button w3-left w3-white w3-border"
                        onclick="document.getElementById('id01').style.display='none'">
                    Close
                </button>
                <button class="w3-button w3-right w3-white w3-border"
                        onclick="document.getElementById('id01').style.display='none'">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

<div class="employee-list">
    <h1>Employee List</h1>
    <div class="employee-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col" class="col-md-2">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col" class="col-md-2">Phone</th>
                    <th scope="col" class="col-lg-2">Address</th>
                    <th scope="col" class="col-lg-2">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>001</td>
                    <td>one people</td>
                    <td>3000000</td>
                    <td>Null</td>
                    <td>
                        <i class="fa-solid fa-pen" onclick="document.getElementById('id02').style.display='block'"></i>
                        <i class="fa-solid fa-trash"></i>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>002</td>
                    <td>Four people</td>
                    <td>3tr</td>
                    <td>Full</td>
                    <td>
                        <i class="fa-solid fa-pen" onclick="document.getElementById('id02').style.display='block'"></i>
                        <i class="fa-solid fa-trash"></i>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>003</td>
                    <td>Three people</td>
                    <td>1tr</td>
                    <td>Full</td>
                    <td>
                        <i class="fa-solid fa-pen" onclick="document.getElementById('id02').style.display='block'"></i>
                        <i class="fa-solid fa-trash"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


@*Sửa thông tin*@
<div class="w3-container">
    <div id="id02" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom">
            <div class="w3-center">
                <i class="w3-circle w3-margin-top fa-solid fa-user-tie" style="color: #0026ff; font-size: 32px;"></i>
            </div>
            <form class="w3-container" action="/action_page.php">
                <div class="w3-section">

                    <label><b>Name</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Name" name="name" required>
                    <label><b>Phone</b></label>
                    <input class="w3-input w3-border" type="number" placeholder="Enter Phone" name="phone" required>
                    <label><b>Address</b></label>
                    <input class="w3-input w3-border" type="text" placeholder="Enter Address" name="address" required>
                </div>
            </form>

            <div class="w3-container w3-light-grey w3-padding">
                <button class="w3-button w3-left w3-white w3-border"
                        onclick="document.getElementById('id02').style.display='none'">
                    Close
                </button>
                <button class="w3-button w3-right w3-white w3-border"
                        onclick="document.getElementById('id02').style.display='none'">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

