@{
    ViewBag.Title = "Home Page";
}
@section styles{
    <link href="~/Content/styles/home.css" rel="stylesheet" type="text/css" />
}
@section scripts{
    <script>
        window.onload = function () {
            //CHART MONEY
            new CanvasJS.Chart("money", {
                animationEnabled: true,
                backgroundColor: "transparent",
                axisY: {
                    gridColor: "transparent",
                    lineColor: "transparent",
                    labelFontColor: "transparent",
                    tickColor: "transparent",
                }, 
                axisX: {
                    lineColor: "transparent",
                    labelFontColor: "transparent",
                    tickColor: "transparent",
                },
                data: [
                    {
                        type: "splineArea",
                        dataPoints: [
                            { label: "14/5", y: 1310548 },
                            { label: "15/5", y: 1532104 },
                            { label: "16/5", y: 2562013 },
                            { label: "17/5", y: 3002148 }
                        ]                 
                    }
                ],
            }).render();
            //CHART CUSTOMER
            new CanvasJS.Chart("accommodations", {
                animationEnabled: true,
                backgroundColor: "transparent",
                axisY: {
                    gridColor: "transparent",
                    lineColor: "transparent",
                    labelFontColor: "transparent",
                    tickColor: "transparent",
                },
                axisX: {
                    lineColor: "transparent",
                    labelFontColor: "transparent",
                    tickColor: "transparent",
                },
                data: [
                    {
                        type: "splineArea",
                        color: "orange",
                        dataPoints: [
                            { label: "14/5", y: 1 },
                            { label: "15/5", y: 2 },
                            { label: "16/5", y: 3 },
                            { label: "17/5", y: 4 }
                        ]
                    }
                ],
            }).render();
            //CHART COMPARE
            new CanvasJS.Chart("compare", {
                animationEnabled: true,
                data: [
                    {
                        type: "line",
                        dataPoints: [
                            { label: "14", y: 1310548 },
                            { label: "15", y: 1532104 },
                            { label: "16", y: 2562013 },
                            { label: "17", y: 3002148 },
                            
                        ]
                    },
                    {
                        type: "line",
                        dataPoints: [
                            { label: "14", y: 1325460 },
                            { label: "15", y: 2142325 },
                            { label: "16", y: 2231542 },
                            { label: "17", y: 3120554 },
                        ]
                    }
                ]
            }).render();
            //CHART DONUT ACE
            new CanvasJS.Chart("donut", {
                animationEnabled: true,
                data: [
                    {
                        type: "doughnut",
                        dataPoints: [
                            { label: "Tháng 4", y: 40 },
                            { label: "Tháng 5", y: 70 },
                            
                        ]
                    }
                ]
            }).render();
            //CHART TWO PEOPLE
            new CanvasJS.Chart("two-chart", {
                animationEnabled: true,
                backgroundColor: "transparent",
                axisY: {
                    gridColor: "transparent",
                    lineColor: "transparent",
                    labelFontColor: "transparent",
                    tickColor: "transparent",
                },
                axisX: {
                    lineColor: "transparent",
                    labelFontColor: "transparent",
                    tickColor: "transparent",
                },
                data: [
                    {
                        type: "line",
                        color: "violet",
                        dataPoints: [
                            { label: "14/5", y: 20 },
                            { label: "15/5", y: 60 },
                            { label: "16/5", y: 30 },
                            { label: "17/5", y: 100 },
                            { label: "18/5", y: 15 }
                        ]
                    }
                ],
            }).render();

            

            //CHART FOUR PEOPLE
            new CanvasJS.Chart("four-chart", {
                animationEnabled: true,
                backgroundColor: "transparent",
                axisY: {
                    gridColor: "transparent",
                    lineColor: "transparent",
                    labelFontColor: "transparent",
                    tickColor: "transparent",
                },
                axisX: {
                    lineColor: "transparent",
                    labelFontColor: "transparent",
                    tickColor: "transparent",
                },
                data: [
                    {
                        type: "line",
                        color: "violet",
                        dataPoints: [
                            { label: "14/5", y: 20 },
                            { label: "15/5", y: 55 },
                            { label: "16/5", y: 70 },
                            { label: "17/5", y: 40 },
                            { label: "18/5", y: 100 }
                        ]
                    }
                ],
            }).render();


            //CHART THREE PEOPLE
            new CanvasJS.Chart("three-chart", {
                animationEnabled: true,
                backgroundColor: "transparent",
                axisY: {
                    gridColor: "transparent",
                    lineColor: "transparent",
                    labelFontColor: "transparent",
                    tickColor: "transparent",
                },
                axisX: {
                    lineColor: "transparent",
                    labelFontColor: "transparent",
                    tickColor: "transparent",
                },
                data: [
                    {
                        type: "line",
                        color: "violet",
                        dataPoints: [
                            { label: "14/5", y: 20 },
                            { label: "15/5", y: 30 },
                            { label: "16/5", y: 25 },
                            { label: "17/5", y: 60 },
                            { label: "18/5", y: 100 }
                        ]
                    }
                ],
            }).render();
        }
    </script>
}
<div class="big-home">
    <p>Home</p>
    <div class="dropdown dd">
        <button class="btn btn-dd" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://colorlib.com/polygon/srtdash/assets/images/author/avatar.png" alt="" />
            <a class="dropdown-item">@ViewBag.userid</a>
            <i class="fa-solid fa-angle-down" style="color: #ffffff;"></i>
        </button>
        <ul class="dropdown-menu">           
            <li><a class="dropdown-item" onclick="document.getElementById('logout').style.display='block'">Log Out</a></li>
        </ul>
    </div>
</div>
<div class="big-chart">
    <div class="money">
        <div class="hihi">
            <div class="icon-money">
                <i class="fas fa-dollar-sign"></i>
            </div>
            <div class="money-info">
                <h3>Money</h3>
                <h3>@ViewBag.Total VND</h3>
            </div>
        </div>
        <div id="money"></div>
    </div>
    <div class="customer">
        <div class="hihi">
            <div class="icon-customer">
                <i class="fas fa-person"></i>
            </div>
            <div class="customer-info">
                  <h3>Customer</h3>
                  <h3>@ViewBag.Customer</h3>
            </div>
        </div>
        <div id="accommodations"></div>
    </div>
</div>
<div class="hehe">
    <div class="big-compare">
        <p>Overview</p>
        <div id="compare"></div>
    </div>
    <div class="compare-donut">
        <div id="donut"></div>
    </div>
</div>

<div class="room-trend">
    <p>Trends</p>
    <div class="trend-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Logo</th>
                    <th scope="col" class="col-md-2">Type</th>
                    <th scope="col">Love</th>
                    <th scope="col" class="col-md-2">Trends</th>
                    <th scope="col" class="col-lg-2">Stats</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"><i class="fas fa-hotel" style="color: #2d9a2f;"></i></th>
                    <td>Two people</td>
                    <td>10000</td>
                    <td><img src="https://colorlib.com/polygon/srtdash/assets/images/icon/market-value/trends-up-icon.png" alt="Phú Thiên" /></td>
                    <td><div id="two-chart">
                        
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><i class="fas fa-hotel" style="color: #ffd800;"></i></th>
                    <td>Four people</td>
                    <td>3000</td>
                    <td><img src="https://colorlib.com/polygon/srtdash/assets/images/icon/market-value/trends-down-icon.png" alt="Phú Thiên" /></td>
                    <td><div id="four-chart">
                        
                        </div>
                    </td>                   
                </tr>
                <tr>
                    <th scope="row"><i class="fas fa-hotel" style="color: #4800ff;"></i></th>
                    <td>Three people</td>
                    <td>1000</td>
                    <td><img src="https://colorlib.com/polygon/srtdash/assets/images/icon/market-value/trends-up-icon.png" alt="Phú Thiên" /></td>
                    <td><div id="three-chart">
                        
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="w3-container bigLogOut">
    <div id="logout" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-left formLogOut" style="max-width:40%;">
            <div class="w3-center logImg">
                <img src="https://colorlib.com/polygon/srtdash/assets/images/author/avatar.png" alt="" />
            </div>
            <form class="w3-container" action="logout" method="post">
                <div class="w3-section formTitle">
                    <p style="font-size: 20px; margin-left: 2%; text-align: center;">You want to log out ?</p>
                </div>
                <button type="submit" class="btn btn-info" style="margin-left: 40%; margin-bottom: 1.3%;">Oki</button>
            </form>
            <div class="w3-container w3-right w3-padding btnLogOut" style=" width: 10%; margin-right: 35%;">
                <button class="btn btn-danger w3-right w3-border"
                        onclick="document.getElementById('logout').style.display='none'">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>